name: Pull request to Org Main

on:
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v2
      # 1. 
      - name: 1. Start of pull request workflow
        run: echo "Start of pull request workflow"
      # 2.
      - name: 2. List Files
        run: |
          pwd
          ls -ltrh
      # 3.
      - name: 3. Update and Upgrade Enviornment
        run: |
          sudo apt-get update
          sudo apt-get -qy upgrade
      # 4. 
      - name: 4. Install Java 11
        run: |
          sudo apt-get install -y openjdk-11-jdk
          java -version
          export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
          export PATH=$JAVA_HOME/bin:$PATH
      # 6. 
      - name: 6. Install Maven
        run: |
          sudo apt install maven -y
      # 8.
      - name: 8. Generate build
        run: |
          cd /home/runner/work/webapp/webapp/project/
          mvn clean install
      # 11.
      - name: 11. End of pull request workflow
        run: echo "End of pull request workflow..." 