name: Pull request to Org Main

on:
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      # 1. 
      - uses: actions/checkout@v2
      # 2. 
      - name: 2. Start of pull request workflow
        run: echo "Start of pull request workflow"
      # 3.
      - name: 3. List Files
        run: |
          pwd
          ls -ltrh
      # 4.
      - name: 4. Update and Upgrade Enviornment
        run: |
          sudo apt-get update
          sudo apt-get -qy upgrade
      # 5. 
      - name: 5. Install Java 11
        run: |
          sudo apt-get install -y openjdk-11-jdk
          java -version
          export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
          export PATH=$JAVA_HOME/bin:$PATH
      # 6. 
      - name: 6. Install Maven
        run: |
          sudo apt install maven -y
      # 7. 
      - name: 7. Install AWS CLI
        run: |
          cd ~
          sudo apt-get install -y python-pip
          sudo pip install awscli
          aws --version
      # 8.
      - name: 8. Setup AWS profile
        run: |
          aws configure set aws_access_key_id ${AWS_ACCESS_KEY} --profile default
          aws configure set aws_secret_access_key ${AWS_SECRET_ACCESS_KEY} --profile default
          aws configure set region ${AWS_REGION} --profile default
      # 9.
      - name: 9. Generate build
        run: |
          cd /home/runner/work/webapp/webapp/project/
          mvn clean install
      # 10.
      - name: 10. Create deployment_artifact.tar.gz
        run: |
          cd ~
          mkdir DeploymentFiles
          cp /home/runner/work/webapp/webapp/project/target/ROOT.war ~/DeploymentFiles/.
          cd ~/DeploymentFiles/
          tar -czvf deployment_artifacts.tar.gz *
          pwd
          ls -ltrh
      # 11.
      - name: 11. Send deployment_artifact.tar.gz to S3 bucket 
        run: |
          cd ~/DeploymentFiles/
          aws s3 cp deployment_artifact.tar.gz s3://${AWS_S3_BUCKET_FOR_DEPLOYMENT}
      # 12.
      - name: 12. End of pull request workflow
        run: echo "End of pull request workflow..." 