name: Pull request to Org Main

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v2
      # 1. 
      - name: 1. Start of pull request workflow
        run: echo "Start of pull request workflow"
      # 2.
      - name: 2. List Files
        run: |
          pwd
          ls -ltrh
      # 3.
      - name: 3. Update and Upgrade Enviornment
        run: |
          sudo apt-get update
          sudo apt-get -qy upgrade
      # 4. 
      - name: 4. Install Java 11
        run: |
          sudo apt-get install -y openjdk-11-jdk
          java -version
          export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
          export PATH=$JAVA_HOME/bin:$PATH
      # 6. 
      - name: 6. Install Maven
        run: |
          sudo apt install maven -y
      # 7. 
      - name: 7. Install AWS CLI
        run: |
          cd ~
          sudo apt-get install -y python3-pip
          python -m pip install awscliv2
          aws --version
      # 8.
      - name: 8. Generate build
        run: |
          cd /home/runner/work/webapp/webapp/project/
          mvn clean install
      # 9.
      - name: 9. Create deployment_artifact.tar.gz
        run: |
          cd ~
          mkdir DeploymentFiles
          cp /home/runner/work/webapp/webapp/project/target/ROOT.war ~/DeploymentFiles/.
          cd ~/DeploymentFiles/
          tar -czvf deployment_artifacts.tar.gz *
          pwd
          ls -ltrh
      # 10.
      - name: 10. Setup AWS profile & Send deployment_artifact.tar.gz to S3 bucket
        run: |
          aws configure set region ${{ secrets.WEBAPP_AWS_REGION }} --profile default
          aws configure set aws_access_key_id ${{ secrets.WEBAPP_AWS_ACCESS_KEY }} --profile default
          aws configure set aws_secret_access_key ${{ secrets.WEBAPP_AWS_SECRET_ACCESS_KEY }} --profile default
          # cd ~/DeploymentFiles/
          # touch deployment_artifacts.txt
          ### ls -ltrh
          # touch ~/DeploymentFiles/deployment_artifacts.txt
          aws s3 cp ~/DeploymentFiles/deployment_artifacts.txt s3://${{ secrets.WEBAPP_AWS_S3_BUCKET_NAME }}
          aws s3 ls s3://${{ secrets.WEBAPP_AWS_S3_BUCKET_NAME }}
      # 11.
      - name: 11. End of pull request workflow
        run: echo "End of pull request workflow..." 