name: Pull request to Org Main

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps: 
      - uses: actions/checkout@v2
      # 1. 
      - name: 1. Start of build-and-upload workflow
        run: echo "Start of build-and-upload workflow"
      # 2.
      - name: 2. List Files
        run: |
          pwd
          ls -ltrh
      # 3.
      - name: 3. Update and Upgrade Enviornment
        run: |
          sudo apt-get update
          sudo apt-get -qy upgrade
      # 4. 
      - name: 4. Install Java 11
        run: |
          sudo apt-get install -y openjdk-11-jdk
          java -version
          export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
          export PATH=$JAVA_HOME/bin:$PATH
      # 5. 
      - name: 5. Install Maven
        run: |
          sudo apt install maven -y
      # 6. 
      - name: 6. Install AWS CLI
        run: |
          cd ~
          sudo apt-get install -y python3-pip
          python -m pip install awscliv2
          aws --version
      # 7.
      - name: 7. Generate build
        run: |
          cd /home/runner/work/webapp/webapp/project/
          mvn clean install
      # 8.
      - name: 8. Create deployment_artifact.tar.gz
        run: |
          cd ~
          mkdir DeploymentFiles
          cp /home/runner/work/webapp/webapp/project/target/ROOT.war ~/DeploymentFiles/.
          cp /home/runner/work/webapp/webapp/appspec.yml ~/DeploymentFiles/.
          cp /home/runner/work/webapp/webapp/codedeploy/* ~/DeploymentFiles/.
          cd ~/DeploymentFiles/.
          export ARTIFACT_FILENAME=deployment_artifacts-$(date "+%Y-%m-%d-%H-%M-%S") 
          tar -czvf ${ARTIFACT_FILENAME}.tar.gz *
          pwd
          ls -ltrh
      # 9.
      - name: 9. Setup AWS profile & Send deployment_artifact.tar.gz to S3 bucket
        run: |
          aws configure set region ${{ secrets.WEBAPP_AWS_REGION }} --profile default
          aws configure set aws_access_key_id ${{ secrets.WEBAPP_AWS_ACCESS_KEY }} --profile default
          aws configure set aws_secret_access_key ${{ secrets.WEBAPP_AWS_SECRET_ACCESS_KEY }} --profile default
          cd ~/DeploymentFiles/.
          ls -ltrh
          aws s3 cp deployment_artifacts-*.tar.gz s3://${{ secrets.WEBAPP_AWS_S3_BUCKET_NAME }}
          aws s3 ls s3://${{ secrets.WEBAPP_AWS_S3_BUCKET_NAME }}
      # 10. 
      - name: 10. Perform deployment
        run: |
            pwd
            ls -ltrh
            aws deploy register-application-revision \
            --application-name csye6225-webapp \
            --s3-location bucket=${{ secrets.WEBAPP_AWS_S3_BUCKET_NAME }},\
            bundleType=tar.gz,key=${ARTIFACT_FILENAME}.tar.gz  \
            --region ${{ secrets.WEBAPP_AWS_REGION }}
            aws deploy create-deployment \
            --application-name csye6225-webapp \
            --deployment-config-name CodeDeployDefault.AllAtOnce \
            --deployment-group-name csye6225-webapp-deployment \
            --description "CSYE6225 - CodeDeploy" \
            --s3-location bucket=${{ secrets.WEBAPP_AWS_S3_BUCKET_NAME }},\
            key=${ARTIFACT_FILENAME}.tar.gz,bundleType=tar.gz \
            --region ${{ secrets.WEBAPP_AWS_REGION }} \
            --output json

      # 10.
      - name: 10. End of build-and-upload workflow
        run: echo "End of build-and-upload workflow" 